{% extends '::base.html.twig' %}
{% block body %}
    <!-- Page Content -->
    <div class="container">

    <!-- Heading Row -->
    <div class="row">
        <div class="col-md-6 col-md-offset-3 well">

            <!-- copie du code sur hopwork.fr a personnaliser
            <div>
                <form data-sign-type="signup" name="fb_signin" accept-charset="UTF-8" action="/signin/facebook" class="u-mb4" method="POST">
                    <input type="hidden" name="scope" value="email,user_photos,user_birthday">
                    <button class="button full facebook block" name="socialButton"><i class="fa fa-lg fa-facebook"></i>Inscription avec Facebook</button>
                </form>
            </div>
            -->

            <!-- copie du code sur hopwork.fr a personnaliser -->
            <form data-sign-type="signin" name="fb_signin" accept-charset="UTF-8" action="/signin/facebook" class="u-mb4" method="POST">
                <input type="hidden" name="scope" value="email,user_photos,user_birthday">
                <button class="btn btn-block btn-social btn-lg btn-facebook" name="socialButton">
                    <i class="fa fa-lg fa-facebook"></i>
                    Connexion avec Facebook
                </button>
            </form>
            <br>

            {% if error %}
                <div>{{ error.message }}</div>
            {% endif %}

            <!-- copie du code sur hopwork.fr a personnaliser -->
            <form data-sign-type="signin" class="u-mb4" name="g_signin" action="/signin/google" method="POST">
                <button type="submit" class="btn btn-block btn-social btn-lg btn-google" name="socialButton">
                    <i class="fa fa-lg fa-google-plus"></i>
                    Connexion avec Google
                </button>
                <input type="hidden" name="scope" value="https://www.googleapis.com/auth/plus.login https://www.googleapis.com/auth/plus.profile.emails.read">
            </form>
            <br>

            <div class="text-center">
                <span>-- Ou --</span>
            </div>


            <form action="{{ path('login_check') }}" class="form-horizontal" method="post">
                <fieldset>
                    <div class="form-group">
                        <label for="inputEmail" class="col-md-12">E-mail</label>
                        <div class="col-md-12">
                            <input class="form-control" id="inputEmail" type="text" id="username" name="_username" value="{{ last_username }}" placeholder="Adresse e-mail" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword" class="col-md-12">Mot de passe</label>
                        <div class="col-md-12">
                            <input  class="form-control" id="inputPassword" type="password" id="password" name="_password" placeholder="Mot de passe" />
                        </div>
                    </div>

                    <div class="text-right">
                        <a href="motdepasseperdu.html" class="btn btn-link">J'ai perdu mon mot de passe</a>
                    </div>
                    <input type="hidden" name="_annonces_blog_dashboard" value="/account" />
                    <div class="form-group">
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-block btn-primary">Se connecter</button>
                        </div>
                    </div>
                </fieldset>
            </form>


        </div>
    </div>
    <!-- /.row -->

{% endblock %}